@font-face {
  font-family: "Exo";
  src:url("../fonts/Exo2.0-Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Trebuchet";
  src:url("../fonts/TrebuchetMSRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Trebuchet";
  src:url("../fonts/TrebuchetMSBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Trebuchet";
  src:url("../fonts/TrebuchetMSItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Trebuchet";
  src:url("../fonts/TrebuchetMSBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}