$smallpc_width: 1399px;
$laptop_width: 1199px;
$tablet_width: 1024px;
$big-mobile_width: 767px;
$s-mobile_width: 600px;
$mobile_width: 480px;
$iphone-small_width: 320px;

$exo_font: Exo;
$trebuchet_font: Trebuchet;

$transition: all .5s;

$color_fff: #fff;
$color_1698d9: #1698d9;
$color_666: #666666;
$color_000: #000;