$smallpc_width: 1399px;
$laptop_width: 1199px;
$tablet_width: 1024px;
$big-mobile_width: 767px;
$s-mobile_width: 600px;
$mobile_width: 480px;
$iphone-small_width: 320px;

$exo_font: Exo;
$trebuchet_font: Trebuchet;

$transition: all .5s;

$color_fff: #fff;
$color_1698d9: #1698d9;
$color_666: #666666;
$color_000: #000;
$color_b3b3b3: #b3b3b3;
$color_f2f2f2: #f2f2f2;
$color_f8f8f8: #f8f8f8;
$color_d91667: #d91667;
$color_ffff66: #ffff66;